@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root{

    /* Primary color  */
    --clr-Pale_blue: #e0e8ff;
    --clr-Bright_blue: #3829e0;
    --clr-Bright_blue_light: #5649e3;

    /* Neutral color  */
    --clr-Very_pale_blue: #f5f7ff;
    --clr-Desaturated_blue: #7280a7;
    --clr-Dark_blue: #1f2f56;

    /* Font size  */
    --fs-paragraph:16px;

    /* Font family  */
    --ff-body:"DM Sans", serif;

    /* Font font-weight  */
    --fw-500:500;
    --fw-700:700;
    --fw-900:900;
}

/* reset the default value  */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body modification  */
body{
    font-family: var(--ff-body);
}

/* Main container of the page  */
.main_container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: auto ;
    max-width: 30rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image size  */
#hero {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

/* whole text of the page style  */
.text_container{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
.text_container h1{
    color: var(--clr-Dark_blue);
    font-weight: var(--fw-900);
}
#millions{
    color: var(--clr-Desaturated_blue);
    font-weight: var(--fs-paragraph);
}
/* Annual plan of the page  */
.annual-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: var(--clr-Very_pale_blue);
    border-radius: 0.5rem;
    padding: 1.1rem 1.5rem;
    max-width: 340px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* annual link style  */
.annual-container a{
    text-decoration: none;
    font-weight: var(--fw-500);
}
.annual-container a:hover{
    color: var(--clr-Bright_blue);
} 

.annual-container h4{
    font-weight: var(--fw-500);
    color: var(--clr-Desaturated_blue);
}

.annual-container h3{
    color: var(--clr-Dark_blue);
}

/* give sytle for click button of the page  */
#button_pay{
    padding: 0.7rem 6.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--clr-Bright_blue);
    color: white;
    font-weight: var(--fw-700);
    box-shadow: 0px 4px 10px var(--clr-Pale_blue);
}
#button_pay:hover{
    background-color: var(--clr-Bright_blue_light);
}

/* cancel link of the page style  */
#Cancel_order{
    margin-bottom: 2rem;
    text-decoration: none;
    color: var(--clr-Desaturated_blue);
    font-weight: var(--fw-700);
}
#Cancel_order:hover{
    color: var(--clr-Dark_blue);
}

