@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root{

    /* Primary color  */
    --clr-Pale_blue: #e0e8ff;
    --clr-Bright_blue: #3829e0;

    /* Neutral color  */
    --clr-Very_pale_blue: #f5f7ff;
    --clr-Desaturated_blue: #7280a7;
    --clr-Dark_blue: #1f2f56;

    /* Font size  */
    --fs-paragraph:16px;

    /* Font family  */
    --ff-body:"DM Sans", serif;

    /* Font font-weight  */
    --fw-500:500;
    --fw-700:700;
    --fw-900:900;
}

/* reset the default value  */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body modification  */
body{
    font-family: var(--ff-body);
}

/* Main container of the page  */
.main_container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: auto ;
    max-width: 30rem;
    text-align: center;
    background-color: var(--clr-Very_pale_blue);
    box-sizing: border-box;
    border-radius: 1rem;
}

/* Image size  */
#hero {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

/* whole text of the page style  */
.text_container{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

/* Annual plan of the page  */
.annual-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}
